[submodule "pack/myplugins/start/tagbar"]
	path = pack/myplugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/myplugins/start/vim-signify"]
	path = pack/myplugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/myplugins/start/vim-show-char"]
	path = pack/myplugins/start/vim-show-char
	url = https://github.com/chrisbra/vim-show-char
[submodule "pack/myplugins/start/vim-obsession"]
	path = pack/myplugins/start/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "pack/myplugins/start/hexmode"]
	path = pack/myplugins/start/hexmode
	url = https://github.com/fidian/hexmode
